/* Style */

.depth {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.node {
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #333;
  margin: 0 auto;
  box-shadow: 2px 2px 2px #333;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .node {
    width: 12px;
    height: 12px;
  }

  .depth {
    margin-bottom: 48px;
  }
}


@media only screen and (max-width: 767px) {
  .node {
    width: 6px;
    height: 6px;
  }

  .depth {
    margin-bottom: 36px;
  }
}







